<!DOCTYPE html>
<html lang="pt-br">
<head>
    {% load static %}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{% block title %}Meu Portfólio{% endblock %}</title>

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Playfair+Display:wght@400;700;900&display=swap" rel="stylesheet">

    <!-- Tailwind compilado -->
    <link rel="stylesheet" href="{% static 'output.css' %}">
</head>

<body class="bg-bg text-text font-sans min-h-screen transition-colors duration-300">

    <main>
        {% block content %}{% endblock %}
    </main>

</body>
</html>
